<article class="py-[2rem]">
    <module href="/components/title.html" locals='{"title": "Anime"}'></module>

    <section class="grid grid-cols-2 lg:grid-cols-5 gap-2 my-5">
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/anim1.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">japan, 2016-Current</p>
                <p class="text-white font-bold my-1">dragon ball z</p>
                <p>action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/anim2.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">India, 2017-Current</p>
                <p class="text-white font-bold my-1">death note</p>
                <p>Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/anim3.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">india, 2020-current</p>
                <p class="text-white font-bold my-1">one punch man</p>
                <p>Adventure</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/anim4.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">India, 2015-Current</p>
                <p class="text-white font-bold my-1">avater</p>
                <p>Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/anim5.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">India, 2018-current</p>
                <p class="text-white font-bold my-1">naruto</p>
                <p>Action</p>
            </div>
        </article>
    </section>
</article>