<article class="py-[2rem]">
    <module href="/components/title.html" locals='{"title": "Bollywood"}'></module>
    <section class="grid grid-cols-2 lg:grid-cols-5 gap-2">
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india1.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india2.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india3.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india4.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india5.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
    </section>
</article>