<article class="py-[2rem]">
    <module href="/components/title.html" locals='{"title": "Hollywood"}'></module>
    <section class="grid grid-cols-2 lg:grid-cols-5 gap-2">
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/holly1.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">dunkrik</p>
                <p>Adventure</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/holl2.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2020-Current</p>
                <p class="text-white font-bold my-1">no time to die</p>
                <p>Adventure Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/holl3.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2019-Current</p>
                <p class="text-white font-bold my-1">avengers-Endgame</p>
                <p>Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/holl4.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016</p>
                <p class="text-white font-bold my-1">the outpost</p>
                <p>Adventure,Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/holl5.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2021</p>
                <p class="text-white font-bold my-1">don't breath</p>
                <p>Action,Thriller</p>
            </div>
        </article>
    </section>
</article>