<article class="py-[5.5rem]">
    <div class="px-5">
        <module href="/components/title.html" locals='{"title": "latest and trending"}'></module>
    </div>

    <swiper-container class="mySwiper" init="false">
        <div class="swiper-slide">
            <article class="py-5 text-gray-500 mx-5">
                <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] relative">
                    <img src="../assets/img/india1.png" class="w-[200px] rounded-2xl absolute">
                </div>
                <div class="px-2 mx-auto capitalize">
                    <p class="text-gray-500">USA, 2016-Current</p>
                    <p class="text-white font-bold my-1">stranger Things</p>
                    <p>Action, <br> Adventure, <br> Horror</p>
                </div>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="py-5 text-gray-500">
                <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] relative">
                    <img src="../assets/img/india2.png" class="w-[200px] lg:w-[200px] rounded-2xl absolute">
                </div>
                <div class="px-2 mx-auto capitalize">
                    <p class="text-gray-500">USA, 2018-Current</p>
                    <p class="text-white font-bold my-1">Batman Begin</p>
                    <p>Action, Thriller</p>
                </div>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="py-5 text-gray-500">
                <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] relative">
                    <img src="../assets/img/india3.png" class="w-[200px] rounded-2xl absolute">
                </div>
                <div class="px-2 mx-auto capitalize">
                    <p class="text-gray-500">USA, 2019</p>
                    <p class="text-white font-bold my-1">Spider-man into the spider verse</p>
                    <p>Action, Thriller</p>
                </div>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="py-5 text-gray-500">
                <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] relative">
                    <img src="../assets/img/india4.png" class="w-[200px] rounded-2xl absolute">
                </div>
                <div class="px-2 mx-auto capitalize">
                    <p class="text-gray-500">USA, 2020</p>
                    <p class="text-white font-bold my-1">shang-chi lengend of the ten Rign</p>
                    <p>Action</p>
                </div>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="py-5 text-gray-500">
                <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] relative">
                    <img src="../assets/img/india5.png" class="w-[200px] rounded-2xl absolute">
                </div>
                <div class="px-2 mx-auto capitalize">
                    <p class="text-gray-500">USA, 2021</p>
                    <p class="text-white font-bold my-1">Duno</p>
                    <p>Action, Thriller</p>
                </div>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="py-5 text-gray-500 mx-5">
                <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] relative">
                    <img src="../assets/img/india1.png" class="w-[200px] rounded-2xl absolute">
                </div>
                <div class="px-2 mx-auto capitalize">
                    <p class="text-gray-500">USA, 2016-Current</p>
                    <p class="text-white font-bold my-1">stranger Things</p>
                    <p>Action, <br> Adventure, <br> Horror</p>
                </div>
            </article>
        </div>
    </swiper-container>
</article>