 <!-- Header  -->
 <header class="bg-headerbg relative sticky top-0 w-full flex flex-col lg:flex-row px-[2.5rem] z-50">
    <section class="w-full space-x-6 flex align-items-center justify-between px-3 z-50 lg:w-[10%]">
        <div class="inline-block my-auto" id="hamburger"><img src="../assets/img/Icon.png" class="inline-block"></div>
        <div class="inline-block"><img src="../assets/img/Logo.svg" class="inline-block"></div>
    </section>

    <section class="container px-5 hidden mx-auto bg-headerbg absolute top-[100%] left-0 right-0 ease-in-out duration-300 lg:flex flex-col justify-between lg:flex-row lg:relative lg:-left-[0] lg:px-0 z-30" id="menu">
        <nav class="w-full px-5 lg:w-[50%]s space-x-6 lg:px-5 flex flex-col lg:flex-row">
            <section class="my-auto space-y-6 py-3 flex flex-col lg:space-y-0 lg:flex-row lg:space-x-6 lg:py-0">
                <a href="#" class="text-white text-sm font-light px-2 rounded-full hover:bg-gray-500">Movies <img src="../assets/img/Vector.png" class="inline-block"></a>
                <a href="#" class="text-white text-sm font-light px-2 rounded-full hover:bg-gray-500">TvShow <img src="../assets/img/Vector.png" class="inline-block"></a>
                <a href="#" class="text-white text-sm font-light px-2 rounded-full hover:bg-gray-500">Genre <img src="../assets/img/Vector.png" class="inline-block"></a>
                <a href="#" class="text-white text-sm font-light px-2 rounded-full hover:bg-gray-500">Web series <img src="../assets/img/Vector.png" class="inline-block"></a>
                <a href="#" class="text-white text-sm font-light px-2 rounded-full hover:bg-gray-500">Anime <img src="../assets/img/Vector.png" class="inline-block"></a>
            </section>
        </nav>
        <nav class="w-full px-[1.8em] py-4 lg:w-[50%]s space-x-6 flex flex-col lg:px-0 lg:flex-row lg:py-4">
            <form class="flex flex-col space-y-6 align-items-baseline justify-around w-full lg:space-y-0 lg:flex-row">
                <section class="flex align-items-center justify-between border-b-[1px]">
                    <input type="search" class="bg-transparent border-0 outline-0 text-white text-sm" placeholder="search">
                    <span class="my-auto"><img src="../assets/img/search.png" alt="searchIcon"></span>
                </section>
                <div class="flex"><a href="#" class="text-white my-auto text-sm font-light border-[1px] rounded-full py-1 px-3">Subscribe</a></div>
                <div class="flex"><a href="#" class="text-white text-sm my-auto px-2 rounded-full hover:bg-gray-500">LOG IN</a></div>
            </form>
        </nav>
    </section>
</header>