<article class="py-[2rem]">
    <module href="/components/title.html" locals='{"title": "Web Series"}'></module>

    <section class="grid grid-cols-2 lg:grid-cols-5 gap-2 my-5">
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india1.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">tedbundy tapes</p>
                <p>Adventure,action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india2.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">sherlock</p>
                <p>Adventure,Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india3.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">india, 2020-current</p>
                <p class="text-white font-bold my-1">live-Telecast</p>
                <p>Adventure,Action,Thriller</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india4.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">India, 2020-Current</p>
                <p class="text-white font-bold my-1">the fame game</p>
                <p>adventure,Action</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india5.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">India, 2019-current</p>
                <p class="text-white font-bold my-1">mirzapur</p>
                <p>adventure,Action</p>
            </div>
        </article>
    </section>
</article>


























<!-- <article class="py-[2rem]">
    <module href="/components/title.html" locals='{"title": "Web Series"}'></module>
    <section class="grid grid-cols-2 lg:grid-cols-5 gap-2">
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india1.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india2.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india3.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india4.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
        <article class="py-5 text-gray-500">
            <div class="w-[300px] h-[300px] lg:w-[180px] lg:h-[200.68px] lg:mb-[3rem] mb-[5rem] relative">
                <img src="../assets/img/india5.png" class="w-full rounded-2xl">
            </div>
            <div class="px-2 mx-auto capitalize">
                <p class="text-gray-500">USA, 2016-Current</p>
                <p class="text-white font-bold my-1">stranger Things</p>
                <p>Action, <br> Adventure, <br> Horro</p>
            </div>
        </article>
    </section>
</article> -->